/* CSS Document */

body {
	background-color: #000000;
	color: #ffffff;
	padding: 100px;
	margin: 0;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}

h1 {
	color: darkorange;
	
}